# Firebase Configuration
# Replace with your actual Firebase project values

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA-URkpn_tscY79lf9tgCeaY5RrVUe9Yc4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=employee-management-89a1f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=employee-management-89a1f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=employee-management-89a1f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=523154902006
NEXT_PUBLIC_FIREBASE_APP_ID=1:523154902006:web:bfbbe1611487f41412d5d7